
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.containerForm > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.containerForm div input {
    margin-left: 100px;
}

.agentInfo {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

p {
    background-color: #F4D9D9;
}

.btn {
    padding: 2rem;
}


input[type=submit] {
    background-color: red;
    color: #F4D9D9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 16px;
}


table, th, tr, td {
    margin: 2rem;
    padding: 0.5rem;
    border: 1px solid black;
}

th {
    background-color: #8E8181;
}

td {
    background-color: #F4D9D9;
    width: 250px;
    text-align: center;
}







