.headerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091167;
    margin: 0;
    height: 50px;
    box-shadow: 10px 5px 5px #000000;
}

.navForm {
    margin-bottom: 0;
}


h1 {
    color: #fff200;
    margin-top: 70px;
    font-size: 2em;
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.containerForm > div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
}


input[type=submit] {
    background-color: red;
    color: #F4D9D9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type=text] {
    height: 20px;
    width: 250px;
    border-radius: 5px;
}

label {
    color: white;
}


table, th, tr, td {
    margin: 2rem;
    padding: 0.5rem;
    border: 1px solid black;
}

th {
    background-color: #8E8181;
}

td {
    background-color: #F4D9D9;
    width: 250px;
    text-align: center;
}

span {
    color: white;
    text-align: center;
    background-color: #26C281;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: none;
}





