h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #cbc2c2;
    padding: 2rem;
}

.btn {
    padding: 2rem;
    margin-top: 10px;
}

.blockTwo, .blockOne {
    background-color: #F4D9D9;
}

.blockOne {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.container.blockTwo > label, select, label, input {
    margin: 1rem;
}

select, option, input {
    margin-left: 10px;
}


input[type=submit] {
    background-color: red;
    color: #F4D9D9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 16px;
}


table, th, tr, td {
    margin: 2rem;
    padding: 0.5rem;
    border: 1px solid black;
}

th {
    background-color: #8E8181;
}

td {
    background-color: #F4D9D9;
    width: 250px;
    text-align: center;
}







