html {
    height: 100%;
}

body {
    margin: 0;
    -moz-box-sizing: border-box; box-sizing: border-box;
    font-family: Futura, serif;
    min-height: 100%;
    position: relative;
    padding-bottom: 63px;
    background-color: #2c3e50;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: [start] auto [end];
    grid-template-areas:
    "header"
    "main"
    "footer"
;
}

.image-home {
    display: flex;
    justify-content: center;
}

img {
    width: 90%;
    height: 350px;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #091167;
    margin: 0;
    height: 50px;
    box-shadow: 10px 5px 5px #000000;
}

.liste li a {
    list-style: none;
    text-decoration: none;
    line-height: 1em;
}

header ul {
    display: flex;
    align-content: space-between;
    list-style-type: none;
}

header li {
    margin: 0 50px;
}

li, a {
    color: white;
}

.dropBtn {
    font-family: Futura, serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border: none;
    display: inline-block;
    background-color: #091167;
    margin-left: 20px;
    cursor: pointer;
}

/*Pour position le contenu de la liste déorulante*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*Caché par défaut*/
.dropContent {
    display: none;
    position: absolute;
    background-color: #1a28a9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Liens à l'intérieur du menu déroulant*/
.dropContent a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Changer la couleur des liens au passage*/
.dropContent a:hover {background-color: #000000;}

/*Montre le menu déroulant au passage hover*/
.dropdown:hover .dropContent {
    display: block;
}

/*Change la couleur du texte du bouton lorsque le menu est ouvert*/
.dropdown:hover .dropBtn {
    color: #928f8f;
}

i.fas {
    margin: 0;
}

.btnLogin {
    margin-left: 30px;
}

.btn-login {
    color: #ff0000;
    margin-left: 100px;
    border: none;
    font-size: 16px;
}


footer {
    width: 100%;
    height: 63px;
    background-color: #091167;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}





