html {
    height: 100vh;
}

body {
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Ubuntu Condensed, serif;
    min-height: 100%;
    position: relative;
    padding-bottom: 63px;
    background-color: #02002c;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: [start] auto [end];
    grid-template-areas:
    "header"
    "main"
    "footer"
;
}

.logoBg {
    background-image: url("Public/images/Logo_ASF1.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Public/images/image-bann.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}



nav {
    position: relative;
    top: 0;
    bottom: 0;
    margin-bottom: 500px;
}

.liste li a {
    list-style: none;
    text-decoration: none;
    font-size: 1.1em;
}

.liHome {
    margin-left: 100px;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    margin: 0 50px;
}

li, a {
    color: white;
}

li, a:hover {
    color: #645050;
}

.logLi {
    margin: 0;
}

.dropBtn {
    font-family: Ubuntu Condensed, serif;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    border: none;
    display: inline-block;
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
}

/*Pour position le contenu de la liste déorulante*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*Caché par défaut*/
.dropContent {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*Liens à l'intérieur du menu déroulant*/
.dropContent a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Changer la couleur des liens au passage*/
.dropContent a:hover {background-color: #000000;}

/*Montre le menu déroulant au passage hover*/
.dropdown:hover .dropContent {
    display: block;
}

/*Change la couleur du texte du bouton lorsque le menu est ouvert*/
.dropdown:hover .dropBtn {
    color: #645050;
}

i.fas {
    margin: 0;
}

.btnLogC {
    position: relative;
    left: 250px;
}

.btnLogD {
    position: relative;
    left: 70px;
}

.btn-login {
    border: none;
    font-size: 16px;
    background-color: red;
    color: #F4D9D9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 20px;
}


footer {
    width: 100%;
    background-color: #2c3e50;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

h3 {
    position: relative;
    left: 15px;
}

footer .ulFoot {
    list-style-type: none;
    text-decoration: none;
}





