
.formContainer{
    display: flex;
    justify-content: center;
}

.container-connexion {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #c19595;
    color: white;
    width: 400px;
    position: relative;
}

.squareUpR {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #c19595;
    margin: 0;
    padding: 0;
    right: 70px;
    bottom: 30px;
}

.squareUpR:before {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #c19595 #2c3e50 #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
}

.squareUpR:after {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #2c3e50 #c19595  #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
    right: 0;
    top: 70px;
}


.squareDoR {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #c19595;
    margin: 0;
    padding: 0;
    right: 170px;
    top: 160px;
    transform: rotate(90deg);
}

.squareDoR:before {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #c19595 #2c3e50 #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
}

.squareDoR:after {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #2c3e50 #c19595  #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
    right: 0;
    top: 70px;
}

.squareUpL {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #c19595;
    margin: 0;
    padding: 0;
    right: 70px;
    bottom: 30px;
    transform: rotate(90deg);
    left: 170px;
}

.squareUpL:before {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #c19595 #2c3e50 #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
}

.squareUpL:after {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #2c3e50 #c19595  #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
    right: 0;
    top: 70px;
}


.squareDoL {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #c19595;
    margin: 0;
    padding: 0;
    right: 70px;
    top: 160px;
    left: 70px;
    z-index: 1;
    box-shadow: 10;
}

.squareDoL:before {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #c19595 #2c3e50 #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
}

.squareDoL:after {
    transform: rotate(90deg);
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #c19595;
    border-color: #FFF #2c3e50 #c19595  #FFF;
    display: block;
    border-width: 0 30px 30px 0;
    border-style: solid;
    right: 0;
    top: 70px;
}

input[type=text], input[type=password] {
    height: 20px;
    width: 250px;
    border-radius: 5px;
    margin: 3px;
}

input[type=submit], input[type=button]{
    cursor: pointer;
    background-color: red;
    color: #F4D9D9;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    padding: 5px 20px;
    font-size: 16px;
    font-family: Futura;
}

input[type=button] {
    margin-left: 70px;
}

header {
    visibility: hidden;
}

button {
    margin: 2rem;
    font-size: 1em;
    padding: 0.5rem;
}

.btnCR {
    display: flex;
    justify-content: center;
}

.btnReturn {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 5px solid black;
    border-radius: 100%;
    width: 300px;
}

p {
    background: -webkit-linear-gradient(180deg, rgb(81, 17, 17) 0%, rgb(5, 56, 191) 47%, rgb(48, 53, 2) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.btnH {
    visibility: hidden;
}

.image-bann {
    display: none;
}

