h1, h2 {
    text-align: center;
}

h2 {
    color: darkred;
}


table, th, tr, td {
    margin: 0.5rem;
    padding: 0.8rem;
    font-weight: normal;
}


th {
    background-color: cornflowerblue;
    width: 400px;
}

td {
    background-color: lightblue;
    width: 90vw;
    text-align: center;
    font-size: 1.1em;
}

.ledExt {
    display: flex;
    justify-content: center;
}

.led {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    text-align: center;
}

.ledP {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(213,241,11,1) 0%, rgba(255,255,255,1) 100%);
}

.ledO {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%,rgba(9,217,43,1) 0%, rgba(255,255,255,1) 100%);
}

.ledF {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(11,101,241,1) 0%, rgba(255,255,255,1) 100%);
}

.ledD {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,0,1,1) 0%, rgba(255,255,255,1) 100%);
}

.bledI {
    display: flex;
    justify-content: center;
    margin-right: 23px;
    margin-bottom: 20px;

}

.ledI {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #341f97;
    border-radius: 10px 10px 10px 10px;
    padding-top: 2px;
    width: 450px;
    color: #F4D9D9;
    font-size: small;
}

.ledI > div {
    margin-left: 25px;
}

form {
    margin-top: 10px;
}
