h1, h2 {
    text-align: center;
}

h2 {
    color: darkred;
}


table, th, tr, td {
    margin: 0.5rem;
    padding: 0.8rem;
    font-weight: normal;
}


th {
    background-color: cornflowerblue;
    width: 400px;
}

td {
    background-color: lightblue;
    width: 90vw;
    text-align: center;
    font-size: 1.1em;
}

.ledContainer {
    display: flex;
    justify-content: space-around;
}

.ledSubContain {
    display: flex;
    justify-content: space-around;
    background-color: #341f97;
    border-radius: 5px;
    padding-top: 2px;
    width: 450px;
    color: #F4D9D9;
    font-size: small;
    text-align: center;
}

.ledSubContain > div > div {
    margin-left: 10px;
}

.ledM {
    margin-left: 20px;
}

.ledDivTable {
    display: flex;
    justify-content: center;
}

.led {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    border-radius: 100px;
    text-align: center;
}

.ledP {
    background: radial-gradient(circle, rgb(238, 201, 4) 0%, rgb(232, 248, 1) 0%, rgb(238, 201, 4) 100%);
}

.ledO {
    background: radial-gradient(circle, rgb(9, 217, 43) 0%, rgb(1, 248, 229) 0%, rgb(9, 217, 43) 100%);
}

.ledF {
    background: radial-gradient(circle, rgb(57, 79, 215) 0%, rgb(130, 202, 202) 0%, rgb(57, 79, 215) 100%);
}

.ledD {
    background: radial-gradient(circle, rgb(255, 0, 1) 0%, rgb(246, 117, 120) 0%, rgb(255, 0, 1) 100%);
}

form {
    margin-top: 10px;
}
