h1 {
    text-align: center;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    background-color: lightgray;
}

img {
    width: 200px;
    height: 300px;
}

form {
    margin: 1rem;
}