h1 {
    text-align: center;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    background-color: lightgray;
}

p {
    color: black;
}

.profilImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 8px;
}

.profilInfo {
    margin-top: 30px;
}

form {
    margin: 1rem;
}

.btn {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.adminCreateCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}